<div class="profile">
  <h3>Hi <%= @profile["name"] %>!</h3>
  <p>It seems that you love '<%= @profile["obsession"] %>.'</p>
  <p>And you live in '<%= @profile["location"] %>.'</p>
</div>

<div class="feed-list">
  <h2>Profile's Feeds</h2>


</div>
