  <form method="Post" action="/feeds/search">
  <input type="text" name="searchnytimes" placeholder="search nytimes" />
  <input type="submit" value="Search" />
  </form>

  <form method="Post" action="/feeds/search">
  <input type="text" name="searchtwitter" placeholder="search twitter" />
  <input type="submit" value="Search" />
  </form>

  <form method="Post" action="/feeds/search">
  <input type="text" name="searchweather" placeholder="search weather" />
  <input type="submit" value="Search" />
  </form>
