<div class="feed-list">

  <% @feeds.each do |feed| %>
    <div class="feed">
      <a href="/feeds/<%= feed["id"] %>"><button>View</button></a>
      <p><%= feed["name"] %></p>
      <form method="POST" action="/profile">
        <input type="hidden" name="_method" value="PUT" />
        <input type="submit" value="Add" />
      </form>
    </div>
  <% end %>

</div>
